@using X.PagedList.Mvc;
@using SalesStatisticsSystem.WebApp.Models.Filters
@using X.PagedList;
@using X.PagedList.Mvc.Common
@model IPagedList<SalesStatisticsSystem.WebApp.Models.SaleViewModels.SaleViewModel>

<div class="alert alert-danger" role="alert">
    @ViewBag.Error
</div>

@if (Model != null)
{
    <table class="table" id="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Manager)
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.LastName)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary",
                            onclick = "return confirm('Are you sure you wish to delete this Sale?');" })
                    </div>
                </td>
            </tr>
        }

    </table>


    @Html.PagedListPager(Model, page => Url.Action("Find", "Sale", new SaleFilterViewModel
{
    Page = page,
    CustomerFirstName = ViewBag.SaleFilterCustomerFirstNameValue,
    CustomerLastName = ViewBag.SaleFilterCustomerLastNameValue,
    DateFrom = ViewBag.SaleFilterDateFromValue,
    DateTo = ViewBag.SaleFilterDateToValue,
    ManagerLastName = ViewBag.SaleFilterManagerLastNameValue,
    ProductName = ViewBag.SaleFilterProductNameValue,
    SumFrom = ViewBag.SaleFilterSumFromValue,
    SumTo = ViewBag.SaleFilterSumToValue
}),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions {HttpMethod = "GET", UpdateTargetId = "updatedTableWithAjax"}))

}
else
{
    <p>No Sale List.</p>
}