@using X.PagedList.Mvc;
@using X.PagedList;
@using SalesStatisticsSystem.WebApp.Models.Filters
@using X.PagedList.Mvc.Common
@model IPagedList<SalesStatisticsSystem.WebApp.Models.SaleViewModels.ManagerViewModel>

<h3>@ViewBag.Error</h3>

<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().LastName)
        </th>
        <th>
            Actions
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary",
                            onclick = "return confirm('Are you sure you wish to delete this Manager?');" })
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">
                No Manager List.
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Find", "Manager", new ManagerFilterModel{ Page = page, LastName = ViewBag.ManagerFilterLastNameValue }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "updatedTableWithAjax" }))