@model IEnumerable<SalesStatisticsSystem.WebApplication.Models.SaleViewModels.ProductViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>All Products</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("index", "Product", FormMethod.Get))
{
    <div class="input-group">
        <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" value="Search" />
        </span>
        @Html.TextBox("searching", null, new { @class = "form-control" })
    </div>
}

<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>