@model IEnumerable<SalesStatisticsSystem.WebApplication.Models.SaleViewModels.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("index", "Customer", FormMethod.Get))
{
<div class="input-group">
    <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Search" />
    </span>
    @Html.TextBox("firstNameSearching", null, new { @class = "form-control", placeholder ="First Name" })
    @Html.TextBox("lastNameSearching", null, new { @class = "form-control", placeholder = "Last Name" })
</div>
}

<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>